<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lecture Feedback</title>
	<link rel="stylesheet" type="text/css" href="static/main.css"> <!-- static/ is replaced by tornado {{static_url('')}} anyway -->
</head>
<body>
	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-8">
				<h1 class="text-center">
					<span data-bind="text:title()"></span>
				</h1>
			</div>
			<div class="col-xs-4">
				<h1 data-bind="visible:status()=='connected'">
				 <span data-bind="text:opinion, css:{'text-success':opinion()>0, 'text-danger':opinion()<0}"></span>
				</h1>
			</div>
		</div>



		<div data-bind="visible:status()=='connected'">
			<div class="row">
				<div class="col-xs-4">
					<h2 data-bind="text:user() ? user().email : '' "></h2>

					<h3>connections: <span data-bind="text:connections"></span></h3>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<div class="scroller">
						<div data-bind="foreach:messages">
							<p data-bind="text:$data"></p>
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<charts params="appl:$root"></charts>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<input class="form-control" type="text" data-bind="value:input">
					<button class="btn btn-default" data-bind="click:$data.echo.bind($data)">send</button>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-success" data-bind="click:$data.bless.bind($data)">
						<i class="fa fa-thumbs-up fa-2x"></i>
					</button>
					<button class="btn btn-danger" data-bind="click:$data.blast.bind($data)">
						<i class="fa fa-thumbs-down fa-2x"></i>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-default" data-bind="click:toggle_connection">disconnect</button>
				</div>
			</div>
		</div>



	</div>

	<script src="static/bower_components/requirejs/require.js" data-main="static/main"></script>
</body>
</html>